<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <ng-container *ngFor="let item of mangGhe; let stt = index">
        <app-ghe [objGhe]="item" (eventGhe)="datGhe($event)"></app-ghe>
        <br *ngIf="(stt+1) % 4 === 0">
      </ng-container>

    </div>
    <div class="col-sm-6">
      Danh sách ghế đã đặt
      <p *ngFor = "let item of danhSachGheDaDat, let soGhe = index">Ghế: {{item.TenGhe}} - ${{item.Gia}} <span style="color: red; cursor: pointer;" (click)="cancel(item, soGhe)">[Hủy]</span></p>
    </div>
  </div>
</div>